<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM61qST2m3mC8kPTszTwo_p-QeMfRw1BU</string>
	<key>GCM_SENDER_ID</key>
	<string>440875815542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>s-kir.Coffee</string>
	<key>PROJECT_ID</key>
	<string>coffee-29e43</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-29e43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440875815542:ios:be29b2d43cc5f66cbd4557</string>
</dict>
</plist>